:root {
  --dark: #282830;
  --darker: #141416;
  --retro-green: #64ffda;
  --light: #fffff7;
  --margin-r: 20px;
  --main-font: "Roboto Condensed";
}
body {
  background-color: var(--dark);
  color: var(--retro-green);
  font-family: var(--main-font);
}
.navbar {
  width: fit-content;
  height: 100px;
  display: flex;
  background-color: var(--darker);
  align-items: center;
  justify-content: flex-end;
}

.logo {
  scale: 0.5;
}

.search_box {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  border: 2px solid var(--retro-green);
  border-radius: 50px;
  transition: width 0.2s linear;
  margin-right: var(--margin-r);
}
.button {
  height: inherit;
  width: 50px;
  border-radius: inherit;
  background: center / 35% no-repeat url(search.svg);
  flex-shrink: 0;
}
.search_input {
  background-color: transparent;
  color: inherit;
  font-family: var(--main-font);
  width: 100%;
  border: none;
  border-radius: inherit;
  font-size: large;
  outline: none;
  padding-right: 15px;
}
.search_input::placeholder {
  font-style: italic;
}
.expand {
  width: 300px;
}
.hide {
  display: none;
}

.menu {
  margin-left: var(--margin-r);
}
.menu > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}
li {
  background-color: var(--dark);
  display: flex;
  padding: 20px 20px;
  align-items: center;
}
